{# Single blog entry template #}

{% extends "blog-base.html" %}

{% block blog_content %}

        <article class="is-post">
                <header>
                    <h2><a href="/{{ page.url }}">{{ page.title }}</a></h2>
                    {% if page.subtitle %}
                        <span class="byline">{{page.subtitle}}</span>
                    {% endif %}

                </header>

                <div class="info">
                    <span class="date"><span class="month">Jan<span>uary</span></span> <span class="day">14</span><span class="year">, 2013</span></span>
                    <!--
                        Note: You can change the number of list items in "stats" to whatever you want.
                    -->
                    <ul class="stats">
                        <li><a href="#" class="fa fa-comment">16</a></li>
                        <li><a href="#" class="fa fa-heart">32</a></li>
                        <li><a href="#" class="fa fa-twitter">64</a></li>
                        <li><a href="#" class="fa fa-facebook">128</a></li>
                    </ul>
                </div>
                {% if page.tags %}
                    posted in {{ tag_list(page.tags) }}
                {% endif %}
                {{ page.content }}
        </article>

    <div id='article-footer'>
        <a href='/blog'>&laquo; Back to blog list</a>
    </div>

    <!-- Disquis comment system -->
    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        // Disqus config
        var disqus_shortname = 'algrantca';

        // Disqus init
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] ||
                document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript">comments powered by Disqus
        </a>.
    </noscript> <!--/disquis -->
{% endblock %}
